<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="SecurityToken" value="YourSecurityTokenIfNeeded"/>
      <add key="ConsumerKey" value="YourConsumerKey"/>
      <add key="ConsumerSecret" value="YourConsumerSecret"/>
      <add key="Username" value="YourUserName"/>
      <add key="Password" value="YourPassword"/>
      <add key="IsSandboxUser" value="false"/>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>  
</configuration>